

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f2f2f2;
}
.result{
    color:#007bff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



.heading {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Main layout */
.main {
    display: flex;
    justify-content: space-between;
}

/* Left side - Questions section */
.div-questions {
    flex: 1;
    padding-right: 20px;
}

.fa{
    margin: 20px auto;

   color:black;
   font-size:40px;
 }

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.row,
.column {
    margin: 10px 0;
}

.input {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.show {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

/* Right side - Plot section */
.plot {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form2 section */
.form2 {
    margin-top: 20px;
}

.question1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.row1,
.column1 {
    margin: 10px 0;
}

.input1 {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form1{
    display:none;

}
.submit1 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.gethouse {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.xx1 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}
  



